<form [formGroup]="AutomatizationForm" (ngSubmit)="onAutomatizationSubmit()">
  <div class="field">
    <label class="label">Automatization Name</label>
    <div class="control">
      <input class="input" formControlName="name" type="text"
        [ngClass]="{'is-danger': AutomatizationForm.controls?.name?.invalid && AutomatizationForm.controls?.name?.dirty}"
        name="name">
    </div>
  </div>
  <div class="field">
    <label class="label">App</label>
    <div class="select">
      <select formControlName="app" (change)="onChangeApp()">
        <option *ngFor="let value of apps" [value]="value">{{value | titlecase}}</option>
      </select>
    </div>
  </div>
  <b>App configuration</b>
  <div *ngIf="AutomatizationForm.controls?.app?.valid" class="box" formGroupName="config">
    <div class="columns" *ngFor="let setting of configs.evernote" class="is-flex is-align-items-baseline my-2">
      <p class="column is-narrow">{{setting.readableName | titlecase}}</p>
      <ng-container *ngIf="setting.type!=='select'; else selectTemplate">
        <input class="input column" [formControlName]="setting.name" type="setting.type">
      </ng-container>
      <ng-template #selectTemplate>
        <div class="column">
          <div class="select">
            <select [formControlName]="setting.name">
              <option *ngFor="let value of setting.values" [value]="value">{{value | titlecase}}</option>
            </select>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="field" formGroupName="elementsMonitored">
    <label class="label">Bind elements to call automatization</label>
    <div *ngFor="let elMonitored of elementsMonitored.controls; let i=index">
      <label class="checkbox">
        <input type="checkbox" [formControlName]="i"/>
        {{elementsMonitoredRaw[i] | titlecase}}
      </label>
    </div>
  </div>
  <input type="submit" [disabled]="!AutomatizationForm.valid" class="button is-primary" value="Add automation">
</form>
