<div class="column is-12-mobile is-offset-3-tablet is-5-tablet is-offset-3-widescreen is-offset-4-fullhd is-4-fullhd">
  <h1 class="is-size-2 my-5">Sign In</h1>
  <form [formGroup]="SignInForm" (ngSubmit)="onSignInSubmit()">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" autocomplete="email" type="email" placeholder="Email" formControlName="email"
          [ngClass]="{'is-danger': SignInForm.controls?.email?.invalid}" (change)="SignInForm.controls.email.setValue(updateValueOnChange($event))" name="email">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" autocomplete="password" type="password" placeholder="Password"
          formControlName="password"
          [ngClass]="{'is-danger': SignInForm.controls?.password?.invalid && SignInForm.controls?.password?.dirty}"
          (change)="SignInForm.controls.password.setValue(updateValueOnChange($event))"
          name="password">
      </div>
    </div>
    <input type="submit" class="button is-primary" value="Login">
  </form>
</div>
