<div class="container is-fluid">
  <nav class="navbar-menu">
    <!-- Left side -->
    <div class="navbar-start">
      <h1 class="is-size-1">
        {{ title }}
      </h1>
    </div>
    <!-- Right side -->
    <ng-container class="navbar-end">
      <ng-container *ngTemplateOutlet="navigation"></ng-container>
    </ng-container>
  </nav>
  <!-- Mobile -->
  <a role="button" (click)="toggleMobileNav()" [ngClass]="{'is-active': mobileNavOpen}" class="navbar-burger"
    aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <ng-container *ngIf="mobileNavOpen">
    <ng-container *ngTemplateOutlet="navigation"></ng-container>
  </ng-container>
  <notifications></notifications>
  <router-outlet></router-outlet>
</div>
<footer class="footer has-background-black-ter has-text-white">
  <div class="content has-text-centered">
    <p>
      <b class="has-text-info">
        <b>Home Warehouse</b>
      </b>
      by <b>Daniel Goliszewski <i>@tafeen</i></b>
      under GNU GPL-2.0 License.
    </p>
  </div>
</footer>

<ng-template #navigation>
  <div class="level-right">
    <p class="level-item" *ngIf="isLogged"><a routerLink="/dashboard" class="button is-primary is-inverted"
        routerLinkActive="is-light">Dashboard</a></p>
    <p class="level-item" *ngIf="isLogged"><a routerLink="/raports" class="button is-primary is-inverted"
        routerLinkActive="is-light">Raports</a></p>
    <p class="level-item" *ngIf="isLogged"><a routerLink="/automatizations" class="button is-primary is-inverted"
        routerLinkActive="is-light">Automatizations</a></p>
    <p class="level-item" *ngIf="isLogged"><a routerLink="/account" class="button is-primary is-inverted"
        routerLinkActive="is-light">Account</a></p>
    <p class="level-item" *ngIf="isLogged && getRank() === 'admin'"><a routerLink="/user-managing" class="button is-primary is-inverted"
      routerLinkActive="is-light">User managing</a></p>
    <p class="level-item" *ngIf="isLogged"><a (click)="logout()" class="button is-danger is-inverted">Logout</a></p>
    <p class="level-item" *ngIf="!isLogged"><a routerLink="/login" class="button is-info is-inverted"
        routerLinkActive="is-light">Login</a></p>
  </div>
</ng-template>
