<div class="container is-fluid">
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <h1 class="is-size-1">
          {{ title }}
        </h1>
      </div>
    </div>
    <!-- Right side -->
    <div class="level-right">
      <p class="level-item" *ngIf="isLogged"><a routerLink="/dashboard" class="button is-primary is-inverted" routerLinkActive="is-light">Dashboard</a></p>
      <p class="level-item" *ngIf="isLogged"><a routerLink="/raports" class="button is-primary is-inverted" routerLinkActive="is-light">Raports</a></p>
      <p class="level-item" *ngIf="isLogged"><a routerLink="/account" class="button is-primary is-inverted" routerLinkActive="is-light">Account</a></p>
      <p class="level-item" *ngIf="isLogged"><a routerLink="/create_raport" class="button is-primary is-inverted" routerLinkActive="is-light">create_raport</a></p>
      <p class="level-item" *ngIf="isLogged"><a (click)="logout()" class="button is-danger is-inverted">Logout</a></p>
      <p class="level-item" *ngIf="!isLogged"><a routerLink="/login" class="button is-info is-inverted" routerLinkActive="is-light">Login</a></p>
    </div>
  </nav>
<notifications></notifications>
<router-outlet></router-outlet>
</div>
<footer class="footer has-background-black-ter has-text-white">
  <div class="content has-text-centered">
    <p>
      <b class="has-text-info">
        <b>Home Warehouse</b>
      </b>
      by <b>Daniel Goliszewski <i>@tafeen</i></b>
      under MIT License.
    </p>
  </div>
</footer>
