<form [formGroup]="RaportForm" (ngSubmit)="onRaportSubmit()">
  <!-- Name -->
  <div class="field">
    <label class="label">Raport Name*</label>
    <div class="control">
      <input class="input" placeholder="Raport Name" formControlName="raportName" name="raportName"
        [ngClass]="{'is-danger': RaportForm.controls?.raportName?.invalid && RaportForm.controls?.raportName?.dirty}">
    </div>
  </div>

  <!-- Description -->
  <div class="field">
    <label class="label">Description</label>
    <textarea class="textarea has-fixed-size" placeholder="Description" formControlName="description" name="description"
      [ngClass]="{'is-danger': RaportForm.controls?.description?.invalid && RaportForm.controls?.description?.dirty}">
    </textarea>
  </div>

  <!-- Select root location of products that will be shown -->
  <div class="field">
    <label class="label"
      [ngClass]="{'has-text-danger': RaportForm.controls?.rootLocation?.invalid && RaportForm.controls?.rootLocation?.dirty}">
      Root Location*
    </label>
    <div class="select">
      <select formControlName="rootLocation">
        <option *ngFor="let edges of locationsList; let i = index" [value]="locationsList[i].node.id">
          {{edges.node.locationName}}
        </option>
      </select>
    </div>
  </div>

  <!-- short results -> amout of results displayed in raports-list -->
  <div class="field">
    <label class="label">Amount of results in short*</label>
    <div class="control">
      <input class="input" type="number" min=0 max=20 placeholder="Short results" formControlName="shortResults"
        name="raportName"
        [ngClass]="{'is-danger': RaportForm.controls?.shortResults?.invalid && RaportForm.controls?.shortResults?.dirty}">
    </div>
  </div>

  <!-- which custom columns should be shown -->
  <div class="field">
    <label class="label">Show custom columns in raport*</label>
    <select formControlName="customColumns" multiple>
      <option *ngFor="let edges of customColumnsList; let i = index" [value]="customColumnsList[i].node.id">
        {{edges.node.name}}
      </option>
    </select>
  </div>

  <!-- sort by *single* custom column -->
  <div class="field" formGroupName="sortBy">
    <label class="label">Sort by custom column*</label>
    Custom Column:
    <div class="select"
      [ngClass]="{'is-danger': RaportForm.controls?.customColumn?.invalid && RaportForm.controls?.customColumn?.dirty}">
      <select formControlName="customColumn">
        <option *ngFor="let edges of customColumnsList; let i = index" [value]="customColumnsList[i].node.id">
          {{edges.node.name}}
        </option>
      </select>
    </div>
    <!-- Select Column -->
    <!-- Select how to sort -->
    Sorted:
    <div class="select">
      <select formControlName="by">
        <option *ngFor="let sort of sortBy; let i = index" [value]="sort">
          {{sort}}
        </option>
      </select>
    </div>
  </div>

  <!-- filter by custom columns -->
  <!-- <div formArrayName="allfilters">
    <label class="label">Raport Filters</label>
    <div *ngFor="let filterByForm of allfilters.controls; let i = index">
      <div class="control">
        <button class="button is-danger" (click)="deleteFilter(i)">Delete filter</button>
        Custom Column:
        <div class="select">
          <select formControlName="customColumn">
            <option *ngFor="let edges of customColumnsList; let i = index" [value]="customColumnsList[i].node.id">
              {{edges.node.name}}
            </option>
          </select>
        </div>
        Filtered:
        <div class="select">
          <select formControlName="by">
            <option *ngFor="let filter of filterBy; let i = index" [value]="filter">
              {{filter}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary" (click)="addFilter()"> New Filter</button> -->
  <input type="submit" [disabled]="!RaportForm.valid" class="button is-primary" value="Create/Modify">
</form>
